.header {
    margin-top: 25px;
    min-height: 70px;
}

.logo h1 {
    font-size: 38px;
    font-weight: 600;
    margin: 0;
}

.logo h1 span:first-of-type {
    padding: 0px 15px;
    border: 1px solid #ddd;
    color: #d19c97;
    margin-right: 5px;
}

.search-products input {
    width: 70%;
    height: 17px;
    border: 1px solid #ddd;
    border-right: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 0;
    color: #666;
}

.search-products input::focus {
    outline: none;
}

.search-products button {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-left: -3px;
    font-size: 18px;
    color: #d19c97;
    background-color: #fff;
}

.selected-products {
    text-align: right;
}

.banner-header {
    border-top: 1px solid #ddd;
}

.sidebar {
    height: 65px;
    background-color: #d19c97;
}

.sidebar h4 {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 500;
}

.sidebar span {
    float: right;
    /* padding: 3px; */
    margin-left: 120px;
}

.category-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
}

.category-list ul li {
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;
}

.category-list ul li a {
    text-decoration: none;
    color: #333;
}

.shop-menu {
    display: flex;
}

.shop-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.shop-menu ul li {
    min-width: 75px;
    padding: 20px;
}

.shop-menu ul li a {
    text-decoration: none;
    color: #333;
}
.shop-menu ul li a:hover {
        color: #d19c97;
}

.left-menu-list {
    width: 70%;
    display: flex;
}

.right-menu-list {
    width: 30%;
    direction: rtl;
}

.shop-menu ul .dropdown {
    display: none;
    border: 1px solid #ddd;
    position: absolute;
    box-shadow: #333 1px 1px 3px;
}

.dropdown-head:hover ul.dropdown {
    display: block;
}